# node_modules
node_modules/

# testcase
__test__/*
__tests__/*

# artiface
dist
artifact

# Type Extend
src/index.d.ts

# documentation
docs
package.json
package-lock.json

# Message Resource
resources

# TypeScript Configuration
tsconfig.json
tsconfig.prod.json
tsconfig.eslint.json
